version: "3.0"

services:
  rabbitmq:
    image: rabbitmq:3.12.0-management
    restart: always
    container_name: csms-rabbitmq
    env_file:
      - .env
    ports:
      - "${RABBITMQ_PORT}:${RABBITMQ_PORT}"
      - "${RABBITMQ_UI_PORT}:${RABBITMQ_UI_PORT}"
    environment:
      RABBITMQ_DEFAULT_USER: "${RABBITMQ_USER}"
      RABBITMQ_DEFAULT_PASS: "${RABBITMQ_PASS}"
    healthcheck:
      test: "exit 0"
    networks:
      - app-network

  db:
    image: postgres:15.3-bullseye
    restart: always
    container_name: csms-db
    volumes:
      - ./data/postgres:/data
    env_file:
      - .env
    ports:
      - "${DATABASE_PORT}:${DATABASE_PORT}"
    environment:
      POSTGRES_USER: "${DATABASE_USER}"
      POSTGRES_PASSWORD: "${DATABASE_PASSWORD}"
      POSTGRES_DB: "${DATABASE_NAME}"
      PGDATA: "/data"
    healthcheck:
      test: "exit 0"
    networks:
      - app-network

  manager:
    container_name: csms-manager
    build:
      context: ..
      dockerfile: Dockerfile
    volumes:
      - .:/usr/src/csms
    ports:
      - "8001:${HTTP_SERVER_PORT}"
    env_file:
      - .env
    networks:
      - app-network
    restart: always
    command: >
      sh -c "cd /usr/src/csms && alembic upgrade head &&
             uvicorn manager.main:app --host 0.0.0.0 --port 8001 --reload"
    depends_on:
      rabbitmq:
        condition: service_healthy
      db:
        condition: service_healthy
    healthcheck:
      test: "exit 0"

  charge_point_node:
    container_name: charge_point_node
    restart: always
    build:
      context: ..
      dockerfile: Dockerfile
    volumes:
      - .:/usr/src/csms
    ports:
      - "${WS_SERVER_PORT}:${WS_SERVER_PORT}"
    env_file:
      - .env
    command: >
      sh -c "cd /usr/src/csms &&
             watchmedo auto-restart --pattern '*.py' --recursive --signal SIGTERM python charge_point_node/main.py"
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - app-network

  nginx:
    image: nginx:1.24.0-bullseye
    ports:
      - "80:80"
    volumes:
      - ./conf:/etc/nginx/conf.d
    depends_on:
      - manager
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

